@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.MuiTypography-h1 {
font-family: 'Permanent Marker', cursive;
}

.App {
  text-align: center;
}

.navLogo {
  max-height: 50%;
}

.dark-shadow svg{
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

