@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.MuiTypography-h1 {
font-family: 'Permanent Marker', cursive;
}

.App {
  text-align: center;
}

.navLogo {
  max-height: 50%;
}

